@import 'partials/mixin';
$main-image: '../images/main-pic.jpg';
$main-font-color: white; 
$paragraph-font-size: 20px;
$aboutItems-font-size: 22px;

html, body {
    position: relative;
    height: 100%;
    
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
}

#nav {    

    transition: all 0.5s ease;
    padding: 20px;
    a.navbar-brand {
        color: $main-font-color;
        font-size: xx-large;
    }
}

ul.navbar-nav {
    li{

        a {
            color: $main-font-color !important;
            text-decoration: none;
            font-size: 18px;
            transition: all 0.5s ease;
        }
        a:hover,a:active{
            color: grey !important;
            
        }

    }
}
.black-nav {
    background-color: rgba(20, 20, 20, 0.9);
    padding-top: 3px;
    padding-bottom: 3px;    
}
#angleUp {
    position: fixed;
    color:  lightslategray;  
    right: 25px;
    bottom:40px;
    z-index: 1;
    font-size: x-large;
    display: none;
    &:hover {
        font-size: xx-large;
    }
}
#header { /*parallax*/
    background-image: url($main-image);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    align-items:  center;
    p {
        font-size: $paragraph-font-size;
    }
    
}


#about {
    
    margin: 80px auto;
    hr {
       @include headerhr(darkgrey);
    }
    p{
        font-size: $paragraph-font-size;
    }
}

#devItemsContainer {
    margin-bottom: 130px;
    //sstyle for animation
    padding-top: 50px;
    opacity: 0;
    span {
        font-size: $aboutItems-font-size;
        
        i{
            font-size: 40px;    
        }
        span {
            font-weight: bold;
        }
        
    }
    p{
        margin-top: 8px;
        font-size: 18px;
    }
}
#projects {
    padding-top: 25px;
    
    color: white;
    hr {
        width: 70px;
        margin-top:0;
        margin-bottom: 25px;
        border: 1px solid white;
    }
    
}

.padding-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.project-img {
    height: auto;
    max-width: 100%;
    opacity: 0.8;
    transition: all 0.3s ease;
    &:hover {
        opacity: 1;
    }
   
}

#services {
    margin: 40px auto;
    hr {
        @include headerhr(darkgrey);
    }

    p {
        font-size: 20px;
    }
    .row {
         margin-bottom: 50px;
         #imgServices1 {
             position: relative;
             right: 150px;
             opacity: 0;
         }
         #imgServices2 {
             position: relative;
             left: 150px;
             opacity: 0;
         }
    }
}

#team {
    margin: 100px auto;
    hr {
        @include headerhr(darkgrey);
    }
    p {
        font-size: 20px;
    }
    .row {
        margin-bottom: 30px;
    }
    .card {
        
        margin-bottom: 10px;
        transition: all 0.3s ease;
        &:hover {
            box-shadow: 1px 1px 8px rgba(20, 20, 20, 0.5),-1px -1px 8px rgba(20, 20, 20, 0.5) 
        }
        h4 {
            font-size: medium;
        }
    }

}
#contactInfo  {

    
    .row {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .media {
        i {
            font-size: xx-large;
        }
        a {
            color:white;
        }
    }
}
#contact {
    margin-bottom: 30px;
    h2 {
        padding-top: 30px;
    }
    hr {
        @include headerhr(darkgrey);
        margin-bottom: 30px;
    }
    input {
        width: 48%;
    }
   
}
footer {
    padding-top: 10px;
    padding-bottom: 10px;
      
}
@import 'partials/mobile';