@mixin border-radius($radius) {
    
       -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
        -ms-border-radius: $radius;
     -khtml-border-radius: $radius;
            border-radius: $radius $radius;
}

@mixin headerhr($color) {
    width: 70px;
    border: 1px solid $color;
    margin-top: 0;
    margin-bottom: 20px;
}