@media screen and(max-width: 767px) {
    .navbar-toggler:focus {
         outline: none;
    }
    #collapseNavbar {
        
        background-color: rgba(20, 20, 20, 0.9);
        @include border-radius(20px);
        box-shadow: 5px 1px 2px black;           
        ul.navbar-nav {
            a {
                text-align: center;
                font-size: medium;
                padding-top: 20px;
                padding-bottom: 20px;
                
                i{
                    font-size: xx-large;
                }
            }
           
        }
    }
    #header {
        //diabled parallax for mobile
        background-attachment: scroll;
    }
    #about {
        margin-top: 50px;

    }
    #devItemsContainer {
       
        margin-bottom: 25px;
        p {
            padding-bottom: 20px;
            margin-bottom: 30px;
            border-bottom: 2px  solid darkgray;
        }
    }
   
    #contactInfo {
        .media {
            border-bottom: 1px solid white;
            margin: 10px auto;
        }
    }
    #contact {
        input {
            width: 100%;
        }
    }
}

